@import '../../styles/partials/allUtils';

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    color: $white;
    background-color:$black;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;

    @include mobile {
        
        &__credits {
            font-size: 0.8em;
        }
    }
}