@import '../../styles/partials/_allUtils.scss';

.facts {

    button {
        color: black;
        font-weight: bold;
        background-color: rgba(226, 185, 185, 0.5);

        @include mobile {
            position: fixed;
            font-size: 1em;
            margin: 0;
            top: 40%;
            left: 0px;
            right: 3px;
            min-width: 100%;
            transform: translateY(-50%);
        }

        @include tablet {
            font-size: 1.5em;
            min-width: 100%;
        }

        @include desktop {
            min-width: 35%;
            left: 32%;
        }
    }
}