@import './styles/partials/allUtils';

.app {
    background-image: url('images/plants-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif; 
}